body {
  height: 100%;
  width: 100%;
  margin: 0px 0px;
}

.navbar_container {
}

.content_container {
  display: flex;
  flex-direction: row;
  height: 92%;
}

.charts_container {
  flex: 8 1 auto;
  display: flex;
  flex-direction: column;
}
 
.chart_container {
  flex: 1 1 auto;
  max-height: 25%;
}

.main_chart_container {
  flex: 1 1 auto;
  max-height: 55%;
}

.chart {
  width: 100%;
  height: 100%;
}

.custom_tooltip {
  position:absolute;
  background-color:lightgray;
  padding:5px;
  z-index:10;
}

.filter_contaniner {
  flex: 2 1 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 20%;
  min-width: 300px;
}

#country-filter {
  width: 100%;
}
.select2-container {
  width: 100% !important;
  padding: 0;
}

.legend_div {
}

#year-range-filter label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}

.col_small {
  flex: 1 1 auto;
}

.upper_row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.lower_row {
  display: flex;
  flex: 4 1 auto;
  padding: 5px;
}


h4, h5 {
  margin: 3px;
  text-align: center;
}

#country-color {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.legend_div {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  padding-top: 5px;
}

.label_color_pick {
  flex: 1 1 auto;
  margin-bottom: 3px;
}

.color_pick {
  flex: 1 1 auto;
}

.select2-selection__choice {
  width: 43%;
  overflow: hidden;
}

.year_label {
  font-size: 10px;
}

label.aspect-label {
  border:1px solid #ccc;
  padding:5px;
  margin:0 0 10px;
  display:block; 
  font-size: 12px;
}

label.aspect-label:hover {
  background:#eee;
  cursor:pointer;
}
