.navbar_container {
}

.content_container {
}

.charts_container {
	display: table;
}

.chart_container {
	display: table;
}

.chart {
}

.main_chart_container {
	width: 30%;
	float: left;
}

.tooltip {
	position:absolute;
	background-color:lightgray;
	padding:5px;
}

.filter_contaniner {
}

#country-filter {
	width: 100%;
}

.legend_div {
}

#year-range-filter label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}