body {
  height: 100%;
  width: 100%;
  margin: 0px 0px;
}


.navbar_container {
}

.content_container {
  /*background-color: #7200FFFF;*/
  display: flex;
  flex-direction: row;
  height: 92%;
}

.charts_container {
  /*background-color: #FFC600FF;*/
  flex: 8 1 auto;
  display: flex;
  flex-direction: column;
}
 
.chart_container {
  flex: 1 1 auto;
  max-height: 25%;
}

.main_chart_container {
  flex: 1 1 auto;
  max-height: 55%;
}

.chart {
  width: 100%;
  height: 100%;
}

.custom_tooltip {
  position:absolute;
  background-color:lightgray;
  padding:5px;
}

.filter_contaniner {
  /*background-color: #FF0057FF;*/
  flex: 2 1 auto;
  padding-right: 15px;
  padding-left: 15px;
}

#country-filter {
  width: 100%;
}

.legend_div {
}

#year-range-filter label {
  position: absolute;
  width: 20px;
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}

.col_small {
  flex: 1 1 auto;
}

.upper_row {
  /*background-color: #00FFF4FF;*/
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.lower_row {
  /*background-color: #4CB255FF;*/
  display: flex;
  flex: 4 1 auto;
  padding: 5px;
}


h4, h5 {
  margin: 3px;
  text-align: center;
}

#country-color {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
}

.legend_div {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.label_color_pick {
  flex: 1 1 auto;
  margin-bottom: 3px;
}

.color_pick {
  flex: 1 1 auto;
}